body {
    background:
    url(../images/museumWall.png) center no-repeat fixed;
    background-size: cover;
}

@media only screen and (max-width: 750px) {
   #svg {
      /* width: 100%; */
      margin-left: auto;
      margin-right: auto;
      transform: rotate(90deg) scale(2);
      transition: all 1s ease;
  }
  body {
    background: rgb(125, 161, 185);
    transition: all 1s ease;
  }
}

@media only screen and (min-width: 751px) and (max-width: 760px) {
  #svg {
    transition: all 1s ease;
 }
}

.svg {
  margin-top: 14.72em;
  transform: scale(2.378);
  width: 19.5em;
  height: 13.6em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(../images/frameTrans.png);
}

.buttonStart {
  filter: invert(1);
  background: linear-gradient(0deg, #ffffff, #b9927d);
  background-size: 400% 400%;
  animation: artDoomed 3s ease infinite;
}

.hidden {
  display: none;
}

.artFlames {
  position: absolute;
  width: 56%;
  margin-top: -3.3em;
  margin-left: 20em;
  animation: flames 5s ease;
  z-index: 1;
}

@keyframes artDoomed {
  0% {background-position:51% 0%;}
  50% {background-position:50% 100%}
  100% {background-position:51% 0%}
}

@keyframes flames {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* eyeball */
.eyeball {
    fill: #c9ccc2;
    }

.pupil{
      fill: black;
      stroke: #78728b;
      stroke-width: 3;
    }

.pupil:not(:hover){
  animation-name: pupilEnlargement;
  animation-duration: 1s;
}

@keyframes pupilEnlargement {
  0% {
    r: 1.3%;
    /* cx: 225;
    cy: 65; */
  }
  50% {
    r: 2%;
    /* cx: 222;
    cy: 63; */
  }
  100% {
    r: 1.3%;
    /* cx: 225;
    cy: 65; */
  }
}

/* mouthBeams */
/* #mouthBeams {
    margin-top: 20em;
    background-color: violet;
} */

.mouthBeam1 {
    fill:url(#linear-gradient);
    stroke:url(#linear-gradient-2);
    stroke-miterlimit:10;
    stroke-width:3px;

}

.mouthBeam2 {
    fill:url(#linear-gradient-3);
    stroke:url(#linear-gradient-4);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.mouthBeam3 {
    fill:url(#linear-gradient-5);
    stroke:url(#linear-gradient-6);
    stroke-miterlimit:10;
    stroke-width:3px;
}

/* head */
.headShape {
    fill:url(#linear-gradient-7);
}

.headColor{
    fill:#e6c393;
}

.faceMask { 
    fill:url(#maskGradient);
}

.faceMask:active {
  fill:url(#noMaskGradient)
}
/* 
.faceNoMask {
  fill:url(#noMaskGradient);
} */

.earHole { 
    fill:#231a17;
}
  
/* linesUnder */
.lineUnder1 { 
    fill:url(#linear-gradient-9);
    stroke:url(#linear-gradient-10);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineUnder2 { 
    fill:url(#linear-gradient-11); 
    stroke:url(#linear-gradient-12); 
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineUnder3 { 
    fill:url(#linear-gradient-13);
    stroke:url(#linear-gradient-14); 
    stroke-miterlimit:10;
    stroke-width:3px;
}

/* peopleLeft */
.peopleLeft1 {
    fill:url(#linear-gradient-15);
}

.peopleLeft2 { 
    fill:url(#linear-gradient-16);
}

.peopleLeft3 { 
    fill:url(#linear-gradient-17);
}

/* bar */
.barRectangle { 
    fill:url(#barGradient);
}

/* lineOver */
.lineOver1 { 
    fill:url(#linear-gradient-18);
    stroke:url(#linear-gradient-19);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver2 { 
    fill:url(#linear-gradient-20);
    stroke:url(#linear-gradient-21);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver3 { 
    fill:url(#linear-gradient-22);
    stroke:url(#linear-gradient-23);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver4 { 
    stroke:url(#linear-gradient-24);
    stroke-miterlimit:10;
    stroke-width:3px;
} 

/* peopleRight */
.peopleRight1 {
    fill:url(#linear-gradient-25);
}

.peopleRight2 {
    fill:url(#linear-gradient-26);
}

.peopleRight3 {
    fill:url(#linear-gradient-27);
}

.peopleRight4 {
    fill:url(#linear-gradient-28);
}

/* Big red button */
.button {
  border-radius: 50%;
  box-shadow: 0 0 .5em rgba(0,0,0,1), 
    inset 0 .25em .3em rgba(255,255,255,.3), 
    inset 0 -.25em .3em rgba(0,0,0,.5);
  cursor: pointer;
  font: inherit;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.button:before {
  background: linear-gradient(to bottom,  
    rgba(255,255,255,0.14) 0%, 
    rgba(255,255,255,0) 50%, 
    rgba(255,255,255,0) 100%);
  border-radius: 50%;
  content: " ";
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}

.button:active {
  box-shadow: 0 0 .5em rgba(0,0,0,1), 
    inset 0 .1em .3em rgba(0,0,0,.5), 
    inset 0 -.1em .3em rgba(0,0,0,.5);
}

.button:active:before {
  top: 11.5%;
}

.button-frame {
  background: #ee2525;
  border-radius: 15%;
  box-shadow:
    0 0 .15em rgba(0,0,0,.9), 
    inset 0 .15em rgba(255,255,255,.3), 
    inset 0 -.20em rgba(0,0,0,.3);
  display: block;
  margin-top: -5em;
  margin-left: 76em;
  padding: 0.60em;
  position: relative;
  height: 4em;
  width: 4em;
  z-index: 20;
}

.noPressText {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hotpink;
}