body {
    background:
    url(../images/museumWall.png) center no-repeat fixed;
    background-size: cover;
}

.svg {
  margin-top: 5.56em;
  transform: scale(1.36);
  width: 19.5em;
  height: 13.6em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(125, 161, 185);
}

/* eyeball */
.eyeball {
    fill: #c9ccc2;
    }

.pupil{
      fill: black;
      stroke: #78728b;
      stroke-width: 3;
    }

.pupil:not(:hover){
  animation-name: pupilEnlargement;
  animation-duration: 1s;
}

@keyframes pupilEnlargement {
  0% {
    r: 1.3%;
    cx: 225;
    cy: 65;
  }
  50% {
    r: 2%;
    /* cx: 222;
    cy: 63; */
  }
  100% {
    r: 1.3%;
    cx: 225;
    cy: 65;
  }
}

/* mouthBeams */
/* #mouthBeams {
    margin-top: 20em;
    background-color: violet;
} */

.mouthBeam1 {
    fill:url(#linear-gradient);
    stroke:url(#linear-gradient-2);
    stroke-miterlimit:10;
    stroke-width:3px;

}

.mouthBeam2 {
    fill:url(#linear-gradient-3);
    stroke:url(#linear-gradient-4);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.mouthBeam3 {
    fill:url(#linear-gradient-5);
    stroke:url(#linear-gradient-6);
    stroke-miterlimit:10;
    stroke-width:3px;
}

/* head */
.headShape {
    fill:url(#linear-gradient-7);
}

.headColor{
    fill:#e6c393;
}

.faceMask { 
    fill:url(#linear-gradient-8);
}

.earHole { 
    fill:#231a17;
}
  
/* linesUnder */
.lineUnder1 { 
    fill:url(#linear-gradient-9);
    stroke:url(#linear-gradient-10);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineUnder2 { 
    fill:url(#linear-gradient-11); 
    stroke:url(#linear-gradient-12); 
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineUnder3 { 
    fill:url(#linear-gradient-13);
    stroke:url(#linear-gradient-14); 
    stroke-miterlimit:10;
    stroke-width:3px;
}

/* peopleLeft */
.peopleLeft1 {
    fill:url(#linear-gradient-15);
}

.peopleLeft2 { 
    fill:url(#linear-gradient-16);
}

.peopleLeft3 { 
    fill:url(#linear-gradient-17);
}

/* bar */
.barRectangle { 
    fill:#75522f;
}

/* lineOver */
.lineOver1 { 
    fill:url(#linear-gradient-18);
    stroke:url(#linear-gradient-19);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver2 { 
    fill:url(#linear-gradient-20);
    stroke:url(#linear-gradient-21);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver3 { 
    fill:url(#linear-gradient-22);
    stroke:url(#linear-gradient-23);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.lineOver4 { 
    stroke:url(#linear-gradient-24);
    stroke-miterlimit:10;
    stroke-width:3px;
} 

/* peopleRight */
.peopleRight1 {
    fill:url(#linear-gradient-25);
}

.peopleRight2 {
    fill:url(#linear-gradient-26);
}

.peopleRight3 {
    fill:url(#linear-gradient-27);
}

.peopleRight4 {
    fill:url(#linear-gradient-28);
}

/* CSS animations */
  